---
layout: default
title: Design TIDE magazine
categories:
  - design
---


<section class="grid-center category-text-on-image">
  <div class="col-12_sm-12">
    {% assign targetCat = 'Design' %}
    {% for post in site.data.design.posts %}
      {% if post.category == targetCat %}
        <div class="relative banner-img">
          <div class="grid">
            <div class="col-12_sm-12 relative">
              <a href="/">
                {% if post.video %}
                  <video id="myVideo" class="bg-video bg_cover vw-100 vh-100" autoplay muted playsinline autobuffer="true" loop poster="{{ post.cover_image }}">
                    <source src="{{ post.video_path }}" type="video/mp4" />
                    Your browser does not support the video tag.
                  </video>
                {% endif %}
                <img class="img_lrge min-heigh block {{ post.featured_image.position }}" src="{{ post.featured_image.image }}" />
              </a>
            </div>
            <div class="absolute top-0 center pt-50 mt-9 w-full centered white" style="z-index: 8;display: none;">
             <a href="/">CATEGORY: <b>{{ post.category }}</b></a> 
            </div>
            <a href="{{ post.url | default: '/' }}" class="content-on-hover vw-100 container-full pt-4 d-flex align-end pb-2 mb:pb-100 overlay flex-wrap">
              <div class="col-12 main-wrapper left">
                <div class="d-flex gap-10 subtitle mt-2 text-white uppercase font-xs normal-letter-spacing mb-1 overpass-font-family card-tags">
                  <span>{{ post.type }}</span>
                  <span class="divider white-border"></span>
                  <span>{{ post.issue_no }}</span>
                </div>
                <h2 class="mob-padding mt-1 mb-1 text-white h2">{{ post.title }}</h2>
                <p class="mob-padding long-text mt-1 no-margin text-white mb-0">{{ post.short_description }}</p>
              </div>
             <span class="btn white-btn mt-1">{{ post.buttontitle }}</span>
            </a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% assign maintitle1 = site.data.design.cards_title %}
{% include slidernew.html cards=site.data.design.cards buttontext=buttontext1 maintitle=maintitle1 show_arrows=true %}



{% include hidden-gems.html content_on_image=site.data.design.content_on_image %}


<section class="columns-section featured-section mx-auto">
  <div class="container">
    <div class="grid-wrapper">
      {% for card in site.data.design.featured_section.cards %}
      <div class="block-card">
        <div class="featured-card">
          <img src="{{ card.image }}" alt="{{ card.alt }}" class="w-full h-auto mb-20 d-block">
          <div class="featured-detail pt-24 px-10">
            <a href="{{ card.link }}">
              <div class="d-flex gap-10 uppercase mb-1 font-xs normal-letter-spacing card-tags">
                {% for tag in card.tags %}
                  <span>{{ tag }}</span>
                  {% unless forloop.last %}<span class="divider"></span>{% endunless %}
                {% endfor %}
              </div>
              <h2 class="mob-padding title-block h2">{{ card.title }}</h2>
              <p class="mob-padding long-text w-36">{{ card.description }}</p>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include image-with-content.html content_on_image=site.data.design.image_with_text1 %}



