---
layout: default
title: "Homepage TIDE Magazine"
meta-description: "TIDE is adventure, travel, design, modernity, environment, technology, culture and cuisine."
---


<!-- Banner -->
{% include homepage-banner-desktop.html banner=site.data.homepage.homepage_banner.desktop %}
{% include homepage-banner-mobile.html banner=site.data.homepage.homepage_banner.mobile %}


<!-- New Designs -->

  {% include slidernew.html cards=site.data.homepage.cards %}

  {% include hidden-gems.html content_on_image=site.data.homepage.content_on_image %}

  {% include slidernew.html cards=site.data.homepage.cards2 %}

  {% include hidden-gems.html content_on_image=site.data.homepage.content_on_image2 %}

  {% include slidernew.html cards=site.data.homepage.cards3 %}

  {% include subscribe.html subscribe=site.data.homepage.subscribe %}

 {% include hidden-gems.html content_on_image=site.data.homepage.content_on_image3 %}

 {% include slidernew.html cards=site.data.homepage.cards4 %}

 {% include hidden-gems.html content_on_image=site.data.homepage.content_on_image4 %}

 {% include slidernew.html cards=site.data.homepage.cards5 %}




 <script>
document.addEventListener("DOMContentLoaded", function() {
  new Swiper(".swiper", {
    spaceBetween: 50, // default
    slidesPerView: 2.5,
    navigation: {
      nextEl: ".swiper-custom-next", // custom button
    },
    breakpoints: {
      320: { 
        slidesPerView: 1.2,
        spaceBetween: 9   // applied for screen widths >=320px
      },
      768: { 
        slidesPerView: 2.2,
        spaceBetween: 9 
      },
      1024: { 
        slidesPerView: 2.3,
        spaceBetween: 50 
      },
    },
  });
});
</script>

