---
layout: default
title: "Homepage TIDE Magazine"
meta-description: "TIDE is adventure, travel, design, modernity, environment, technology, culture and cuisine."
---


<!-- Banner -->
{% include homepage-banner-desktop.html banner=site.data.homepage.homepage_banner.desktop %}
{% include homepage-banner-mobile.html banner=site.data.homepage.homepage_banner.mobile %}

{% assign buttontext1 = site.data.homepage.buttonlabel1 %}
{% assign buttontext2 = site.data.homepage.buttonlabel2 %}
{% assign buttontext3 = site.data.homepage.buttonlabel3 %}
{% assign buttontext4 = site.data.homepage.buttonlabel4 %}
{% assign buttontext5 = site.data.homepage.buttonlabel5 %}

<!-- New Designs -->

  {% include slidernew.html cards=site.data.homepage.cards buttontext=buttontext1 %}

  {% include hidden-gems.html content_on_image=site.data.homepage.content_on_image %}

  {% include slidernew.html cards=site.data.homepage.cards2 buttontext=buttontext2 %}

  {% include image-banner.html content_banner=site.data.homepage.banner_section %}
 
  {% include slidernew.html cards=site.data.homepage.cards4 buttontext=buttontext4 %}

  {% include image-with-content.html content_on_image=site.data.homepage.image_with_text1 %}

 {% include hidden-gems.html content_on_image=site.data.homepage.content_on_image3 %}


  {% include slidernew.html cards=site.data.homepage.cards3 buttontext=buttontext3 %}

  
  {% include image-with-content.html content_on_image=site.data.homepage.image_with_text2 %}

  {% include hidden-gems.html content_on_image=site.data.homepage.content_on_image2 %}

  <!-- {% include subscribe.html subscribe=site.data.homepage.subscribe %} -->



 <!-- {% include slidernew.html cards=site.data.homepage.cards4 buttontext=buttontext4 %} -->

 <!-- {% include hidden-gems.html content_on_image=site.data.homepage.content_on_image4 %} -->

 {% include slidernew.html cards=site.data.homepage.cards5 buttontext=buttontext5 %}




 <script>
document.addEventListener("DOMContentLoaded", function() {
  new Swiper(".swiper", {
    spaceBetween: 50, // default
    slidesPerView: 2.5,
    navigation: {
      nextEl: ".swiper-custom-next", // custom button
    },
    breakpoints: {
      320: { 
        slidesPerView: 1.2,
        spaceBetween: 9   // applied for screen widths >=320px
      },
      768: { 
        slidesPerView: 2.2,
        spaceBetween: 9 
      },
      1024: { 
        slidesPerView: 2.3,
        spaceBetween: 50 
      },
    },
  });
});
</script>

