<div class="event-popup newsletter-popup appendhereee w-full grey-bg" id="eventPopup">
  <div class="newsletter-popup-content w-full grey-bg">
    <button class="popup-close" id="closePopup">&times;</button>
    
    <section class="newsletter-section w-full">
      <div class="newsletter-wrapper w-full">
        
        <div class="content-block">
          <span class="font-xs overpass-font-family block font-weight-400"> TIDE <b>EVENT</b> </span>
          <div class="content-container global-line-height font-weight-400">
            <h2 class="h2 font-weight-400">TIDE Polo + St Tropez : Announcing Our Inaugural Collaboration with Polo Club Saint Tropez + TIDE Polo</h2>

             <div class="date_time">
            <p class="large-line-height overpass-font-family font-s font-weight-400">UPCOMING JULY 2026</p>
            <p class="large-line-height overpass-font-family font-s font-weight-400" >ST. TROPEZ</p>
          </div>

          <div class="blog-details">
            <p class=" font-s font-weight-400">We are thrilled to announce that The TIDE Collective is officially launching, and we're making waves with our very first event collaboration alongside two prestigious partners: Polo Club Saint Tropez and TIDE Polo. This marks the beginning of an exciting journey as we bring together luxury, sport, sustainability, and community in one of the world's most iconic coastal destinations.</p>
          </div>
          <div class="mt-mob mt-big d-flex gap-15">
            <a href="#" class="dark-btn btn-border"> READ MORE </a>
            <a href="#" class="btn-border">CONTACT FOR MORE INFO</a>
          </div>
          </div>
         
        </div>

        <div class="image-block">
          <img src="../images/event-popup.png" alt="Tablet preview" />
        </div>
      </div>
    </section>
  </div>
</div>