
<footer class="grid-center dark-blue padded-2 mob-padding">


  <div class="col-4_sm-12 left mt-mob">

    <!-- <img class="logo_small mb-1 mob-center" src="/images/tide-logo-yellow.png"> -->
        <div class=" px-5">

         <p class="black smaller mb-2"> <a class="special-link"> TIDE is an independent sailing, lifestyle and travel magazine,<br>  published in print and digital.</a></p>

         <a class="special-link black" href="https://www.instagram.com/thetidemagazine" target="_blank"><i class="fab fa-instagram black"></i></a>&nbsp; &nbsp; 
         <!-- <a href="https://www.linkedin.com/company/" target="_blank">  <i class="fab fa-linkedin black"></i></a> -->
         <a class="special-link"  href="https://www.facebook.com/thetidemagazine/" target="_blank"> <i class="fab fa-facebook-square black"></i> </a>
       </p>
      </div>

</div>

<div class="col-2"></div>
  <div class="col-3_sm-12 left mob-hide">

    <nav class="block px-4">
      <h4 class="black text-sm mb-1"><a class="special-link-2"> MEDIA </a></h4> 
      <a class="black" href="{{site.data.links.subscribe_link}}"> Subscriptions </a>
      <!-- <a href="{{site.data.links.buy_link}}"> Store </a> -->
      <!-- <a href="/sounds"> Playlist </a> -->
      
     
    </nav>
  </div>

  <div class="col-3_sm-12 left mob-hide ">
    <nav class="block px-4 crimson">
      <h4 class="black text-sm mb-1"> <a class="special-link-2">INFO</a> </h4> 
      <a class="black" href="{{site.data.links.subscribe_link}} subscribe-btn"> Subscribe </a>
      <!-- <a href="/shipping">Shipping </a> -->
      <a class="black" href="/terms-and-conditions">T&Cs </a>
          <a class="black" href="/contact"> Contact </a>
     
    </nav>
  </div>


</div>

</footer>


<script>
$('.featured-card').click(function(){
var link = $(this).find('a').attr('href');
window.location = link;
});
</script>