<div class="image-with-text-section w-full grey-bg">
  <div class="newsletter-popup-content w-full grey-bg">
    <button class="popup-close" id="closePopup">&times;</button>
    
    <section class="newsletter-section w-full">
      <div class="newsletter-wrapper w-full">
        
        <div class="content-block">
          <div class="content-container global-line-height">
            <h2>Explore Buy Subscribe to our lastest issue, browse and purchase back issues.</h2>
          </div>
          <div class="mt-mob mt-big d-flex gap-15">
            <a href="#" class="dark-btn btn-border"> subscribe now </a>
            <a href="#" class="btn-border">BROWSE ALL ISSUES</a>
          </div>
        </div>

        <div class="image-block">
          <img src="../images/TIDE-issue-05-multi-cover-mockup_copy-removebg-preview 1.png" alt="Tablet preview" />
        </div>
      </div>
    </section>
  </div>
</div>