<section class="no-margin">
  <div class="image-with-text-section w-full {{  include.content_on_image.paddingclass }} {{ include.content_on_image.background_class }}">
    <div class="newsletter-popup-content w-full {{ include.content_on_image.background_class }}">
      <button class="popup-close" id="closePopup">&times;</button>
      
      <section class="newsletter-section w-full">
        <div class="newsletter-wrapper w-full">
          
          <div class="content-block order-{{ include.content_on_image.text_direction | default: '' }} ">
            <div class="content-container global-line-height">
              <h2>{{ include.content_on_image.title }}</h2>
            </div>
            <p>{{ include.content_on_image.description }}</p>

             {% if include.content_on_image.description2 %}
               <p class="pt-4">{{ include.content_on_image.description2 }}</p>
            {% endif %}
            
            <div class="mt-mob mt-big d-flex gap-15">
              {% if include.content_on_image.button_primary %}
                <a href="{{ include.content_on_image.button_primary.link }}" target="_blank" class="dark-btn btn-border {{ include.content_on_image.button_primary.label | remove: ' ' }}">
                  {{ include.content_on_image.button_primary.label }}
                </a>
              {% endif %}
              {% if include.content_on_image.button_secondary %}
                <a href="{{ include.content_on_image.button_secondary.link }}" target="_blank" class="btn-border {{ include.content_on_image.button_primary.label | remove: ' ' }}">
                  {{ include.content_on_image.button_secondary.label }}
                </a>
              {% endif %}
            </div>
          </div>

          <div class="image-block">
            {% if include.content_on_image.image %}
              <img src="{{ include.content_on_image.image }}" alt="Image section" />
            {% endif %}
          </div>

        </div>
      </section>
    </div>
  </div>
</section>
