<section class="relative banner-img banner-overlay-section no-margin">
  <div class="grid">
    <div class="col-12_sm-12 relative">
      <img class="img_lrge min-heigh block {{ include.content_banner.image_position }}" 
           src="{{ include.content_banner.image }}" 
           alt="Banner Image" />
    </div>

    <div class="content-on-hover dark-overlay vw-100 container-full pt-4 d-flex align-end overlay flex-wrap h-full">
      <div class="h-full w-full content-center centered banner--main">

        {% if include.content_banner.tags %}
        <div class="d-flex gap-10 uppercase font-xs normal-letter-spacing mb-1 align-center overpass-font-family card-tags mob-padding mb-1 text-white large-letter-spacing justify-center">
          {% for tag in include.content_banner.tags %}
            <span>{{ tag }}</span>
            {% unless forloop.last %}
              <span class="divider white-border"></span>
            {% endunless %}
          {% endfor %}
        </div>
        {% endif %}

        <div class="mt-auto">
          {% if include.content_banner.logo %}
          <p class="mob-padding long-text mt-1 text-white mb-2" style="place-self: center;">
            <img src="{{ include.content_banner.logo }}" width="{{ include.content_banner.logo_width }}" />
          </p>
          {% endif %}

          {% if include.content_banner.date %}
          <h3 class="overpass-font-family font-small extra-large-line-height font-weight-600">
            {{ include.content_banner.date }}
          </h3>
          {% endif %}

          {% if include.content_banner.location %}
          <h3 class="font-ss overpass-font-family d-block gap-10 justify-center flex-wrap">
            {% if include.content_banner.location.prefix %}
              <i class="crimson">{{ include.content_banner.location.prefix }}</i>
            {% endif %}
            {% if include.content_banner.location.place %}
              <span class="font-weight-600">{{ include.content_banner.location.place }}</span>
            {% endif %}
            {% if include.content_banner.location.suffix %}
              <i class="crimson">{{ include.content_banner.location.suffix }}</i>
            {% endif %}
          
            {% if include.content_banner.location.partners %}
              <span class="font-weight-600">{{ include.content_banner.location.partners }}</span>
            {% endif %}
          </h3>
          {% endif %}
        </div>

        {% if include.content_banner.button %}
        <a href="{{ include.content_banner.button.link }}" class="btn white-btn">
          {{ include.content_banner.button.text }}
        </a>
        {% endif %}
        
      </div>
    </div>
  </div>
</section>
<style>
  .banner-overlay-section .banner--main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 51px;
    padding-bottom: 100px;
    align-items: center;
  }
  .banner-overlay-section img{
    max-height: 718px;
  }
  .mt-auto{
    margin-top: auto;
  }
</style>