<style>
  .swiper-custom-next {
    display: block;
    top: 30%;
    right: -4%;
    z-index: 999;
  }

  .swiper-custom-next svg {
    display: block;
  }
</style>
<section class="slider-section under-snipptttt relative featured-section mx-auto">
  <div class="container">
    <div class="header-block">
      {% if include.maintitle %}
      <h3 class="uppercase left mb:mb-40 mb-1 overpass-family font-s overpass-font-family  font-s overpass-font-family ">{{ include.maintitle }}</h3>
      {% endif %}
    </div>

    <div class="swiper visible">
      <div class="swiper-wrapper">
        {% for card in include.cards %}
        <div class="swiper-slide ">
          <div class="featured-card{% if forloop.first %} {% endif %}">
            <img src="{{ card.image }}" alt="{{ card.alt }}" class="w-full h-auto mb-20 d-block" />

            <div class="featured-detail pt-24 px-10">
              <a href="{{ card.link }}">
                <div class="d-flex gap-10 uppercase font-xs normal-letter-spacing mb-1 align-center overpass-font-family card-tags">
                  {% for tag in card.tags %}
                    <span>{{ tag }}</span>
                    {% unless forloop.last %}<span class="divider"></span>{% endunless %}
                  {% endfor %}
                </div>

                <h2 class="mob-padding title-block h2">{{ card.title }}</h2>
                <p class="mob-padding long-text w-36">{{ card.description }}</p>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <button class="swiper-custom-prevoius">
      <svg width="71" height="71" viewBox="0 0 71 71" fill="none" xmlns="http://www.w3.org/2000/svg">
<foreignObject x="-10" y="-10" width="90.7107" height="90.7107"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(5px);clip-path:url(#bgblur_0_124_665_clip_path);height:100%;width:100%"></div></foreignObject><g data-figma-bg-blur-radius="10">
<rect y="35.3553" width="50" height="50" rx="25" transform="rotate(-45 0 35.3553)" fill="black" fill-opacity="0.3"/>
<rect x="0.707107" y="35.3553" width="49" height="49" rx="24.5" transform="rotate(-45 0.707107 35.3553)" stroke="black" stroke-opacity="0.3"/>
<path d="M45.7089 35.7089C45.9042 35.5136 45.9042 35.1971 45.7089 35.0018L42.5269 31.8198C42.3317 31.6246 42.0151 31.6246 41.8198 31.8198C41.6245 32.0151 41.6245 32.3317 41.8198 32.5269L44.6482 35.3553L41.8198 38.1838C41.6245 38.379 41.6245 38.6956 41.8198 38.8909C42.0151 39.0861 42.3317 39.0861 42.5269 38.8909L45.7089 35.7089ZM25.3553 35.3553V35.8553H45.3553V35.3553V34.8553H25.3553V35.3553Z" fill="white"/>
</g>
<defs>
<clipPath id="bgblur_0_124_665_clip_path" transform="translate(10 10)"><rect y="35.3553" width="50" height="50" rx="25" transform="rotate(-45 0 35.3553)"/>
</clipPath></defs>
</svg>

    </button>
    </div>
      <button class="swiper-custom-next">
      <svg width="71" height="71" viewBox="0 0 71 71" fill="none" xmlns="http://www.w3.org/2000/svg">
<foreignObject x="-10" y="-10" width="90.7107" height="90.7107"><div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(5px);clip-path:url(#bgblur_0_124_665_clip_path);height:100%;width:100%"></div></foreignObject><g data-figma-bg-blur-radius="10">
<rect y="35.3553" width="50" height="50" rx="25" transform="rotate(-45 0 35.3553)" fill="black" fill-opacity="0.3"/>
<rect x="0.707107" y="35.3553" width="49" height="49" rx="24.5" transform="rotate(-45 0.707107 35.3553)" stroke="black" stroke-opacity="0.3"/>
<path d="M45.7089 35.7089C45.9042 35.5136 45.9042 35.1971 45.7089 35.0018L42.5269 31.8198C42.3317 31.6246 42.0151 31.6246 41.8198 31.8198C41.6245 32.0151 41.6245 32.3317 41.8198 32.5269L44.6482 35.3553L41.8198 38.1838C41.6245 38.379 41.6245 38.6956 41.8198 38.8909C42.0151 39.0861 42.3317 39.0861 42.5269 38.8909L45.7089 35.7089ZM25.3553 35.3553V35.8553H45.3553V35.3553V34.8553H25.3553V35.3553Z" fill="white"/>
</g>
<defs>
<clipPath id="bgblur_0_124_665_clip_path" transform="translate(10 10)"><rect y="35.3553" width="50" height="50" rx="25" transform="rotate(-45 0 35.3553)"/>
</clipPath></defs>
</svg>

    </button>
    </div>

    

  <div class="centered mt-3 mb:mt-4">
    <a href="{{ include.buttonlink }}" class="btn-border">{{ include.buttontext }}</a>
  </div>
  </div>
</section>
