---
layout: default
hide-nav: hide-nav
---

<section class="no-margin">
  <div class="relative banner-img">
    <div class="grid">

      <div class="col-12_sm-12 relative">
        <!-- Dynamic link to this post -->
        <a href="{{ page.url }}">
          {% if page.video == true %}
          <video id="myVideo" class="bg-video bg_cover vw-100 vh-100" autoplay muted playsinline autobuffer="true" loop poster="{{ page.cover_image }}">
            <source src="{{ page.video_path }}" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
          {% endif %}

          {% if page.featured_image.image %}
          <img class="img_lrge min-heigh block {{ page.featured_image.position }}" src="{{ page.featured_image.image }}" alt="{{ page.title }}">
          {% endif %}
        </a>
      </div>

      <a href="{{ page.url }}" class="content-on-hover w-full container-full pt-4 d-flex align-center pb-2 overlay flex-wrap justify-center">
        <div class="col-12 centered">
          <h4 class="subtitle mt-2 text-white">{{ page.categories | join: " | " }} I NUMBER {{ page.issue_no }}</h4>
          <h2 class="mob-padding mt-1 mb-1 text-white h2">{{ page.title }}</h2>
        </div>
      </a>

    </div>
  </div>

  <!-- Post meta -->
  <section class="container-full rte">
    <div class="d-flex gap-10 uppercase mb-10 font-xs normal-letter-spacing mb-1 justify-center pt-2 blog-details align-center">
      {% if page.author %}
        <span>WORDS: {{ page.author }}</span>
        <span class="divider"></span>
      {% endif %}
      {% if page.issue_no %}
        <span>Number {{ page.issue_no }}</span>
      {% endif %}
    </div>

    <!-- Post content -->
    <div class="blog-content">
      {{ content }}
    </div>
  </section>
</section>

<section class="">
  <div class="border-btm"></div>
</section>

<section class="slider-section featured-section mx-auto">
  <div class=" container">

  <div class="swiper visible">
     <h3 class="uppercase text-center mb-3 font-bold  font-s overpass-font-family ">{{ site.data.articlecard.mainheading }}</h3>


     <div class="swiper-wrapper">
      
     {% for card in site.data.articlecard.cards %}
        <div class="swiper-slide ">
          <div class="featured-card{% if forloop.first %} {% endif %}">
            <img src="{{ card.image }}" alt="{{ card.alt }}" class="w-full h-auto mb-20 d-block" />

            <div class="featured-detail pt-24 px-10">
              <a href="{{ card.link }}">
                <div class="d-flex gap-10 uppercase font-xs normal-letter-spacing mb-1 align-center overpass-font-family card-tags">
                  {% for tag in card.tags %}
                    <span>{{ tag }}</span>
                    {% unless forloop.last %}<span class="divider"></span>{% endunless %}
                  {% endfor %}
                </div>

                <h2 class="mob-padding title-block h2">{{ card.title }}</h2>
                <p class="mob-padding long-text w-36">{{ card.description }}</p>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      <!-- Add more swiper-slide blocks as needed -->

    </div>


    <button class="swiper-custom-next">
      <svg width="36" height="4" viewBox="0 0 36 4" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M35.1768 1.82322C35.2744 1.92085 35.2744 2.07915 35.1768 2.17678L33.5858 3.76777C33.4882 3.8654 33.3299 3.8654 33.2322 3.76777C33.1346 3.67014 33.1346 3.51184 33.2322 3.41421L34.6464 2L33.2322 0.585786C33.1346 0.488155 33.1346 0.329864 33.2322 0.232233C33.3299 0.134602 33.4882 0.134602 33.5858 0.232233L35.1768 1.82322ZM0 2L0 1.75L35 1.75V2V2.25L0 2.25L0 2Z" fill="black"></path>
      </svg>
    </button>
  </div>
  <!-- <div class="centered mt-4">
    <a href="#" class="btn-border  ">VIEW ALL TRAVEL STORIES</a>
  </div> -->
  </div>
</section>

 <script>
document.addEventListener("DOMContentLoaded", function() {
  new Swiper(".swiper", {
    spaceBetween: 50, // default
    slidesPerView: 2.5,
    breakpoints: {
      320: { 
        slidesPerView: 1.2,
        spaceBetween: 9   // applied for screen widths >=320px
      },
      768: { 
        slidesPerView: 2.2,
        spaceBetween: 9
      },
      1024: { 
        slidesPerView: 2.3,
        spaceBetween: 50 
      },
    },
  });
});
</script>