---
layout: default
hide-nav: hide-nav
---

<style>
  .title-text {
    font-size: 42px;
  }
  .banner-img .content-on-hover {
    background: linear-gradient(180deg,#0000,#000015);
    height: 400px;
    z-index: 999;
  } 
  .text-center-blogs-banner {
      height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

@media (max-width:640px) {
   .title-text {
    font-size: 30px;
   }
  .blog-top-label {
    flex-direction: column;
    text-align: center;
  }
  .blog-top-label .divider {
    display: none;
  }
}
</style>

<section class="no-margin">
  <div class="relative banner-img">
    <div class="grid">

      <div class="col-12_sm-12 relative">
        <!-- Dynamic link to this post -->
        <a href="/">
          {% if page.video == true %}
          <video id="myVideo" class="bg-video bg_cover vw-100 vh-100" autoplay muted playsinline autobuffer="true" loop poster="{{ page.cover_image }}">
            <source src="{{ page.video_path }}" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
          {% endif %}

          {% if page.featured_image.image %}
          <img class="img_lrge min-heigh block {{ page.featured_image.position }}" src="{{ page.featured_image.image }}" alt="{{ page.title }}">
          {% endif %}
        </a>
      </div>

      <a href="/" class="content-on-hover w-full container-full pt-4 d-flex align-center pb-4 overlay flex-wrap justify-center">
        <div class="col-12 centered text-center-blogs-banner">
          <h4 class="subtitle h4heading mt-2 text-white">{{ page.categories | join: " | " }} <span class="divider extrasdivider"></span> {{ page.issue_no }}</h4>
          <h2 class="mob-padding mt-1 mb-1 text-white capitalize h2 title-text">{{ page.title }}</h2>
        </div>
      </a>

    </div>
  </div>

  <!-- Post meta -->
  <section class="container-full rte" style="margin-top:15px">
     {% if page.byline %}
    <div class="d-flex gap-10 blog-top-label uppercase font-xs normal-letter-spacing mb-1 justify-center pt-2 blog-details align-center">
      {% assign byline_parts = page.byline | split: ' | ' %}
      
      <!-- Display Words -->
      {% if byline_parts[0] %}
      <span class="h4heading">{{ byline_parts[0] }}</span>
      {% endif %}
      {% if byline_parts[1] %}
      <span class="divider "></span>
      <span class="h4heading">{{ byline_parts[1] }}</span>
      {% endif %}
    </div>
    {% endif %}
    <!-- Post content -->
    <div class="blog-content">
      {{ content }}
    </div>
  </section>
</section>

<section class="">
  <div class="border-btm"></div>
</section>

{% assign maintitle1 = site.data.blog.cards_title %}
{% include slidernew.html cards=site.data.blog.cards buttontext=buttontext1 maintitle=maintitle1}

  {% include image-with-content.html content_on_image=site.data.blog.image_with_text1 %}


<section class="partner-with-tide mb-0" style="display: none;">
  <div class="magazine-background">
    <img src="../images/above-banner.png" alt="TIDE magazines" />
  </div>

  <div class="content-box ">
    <p class="small-heading overpass-font-family font-weight-600">PARTNER WITH TIDE</p>
    <h2 class="h2 mt-2">Reach a tailored and discerning audience in a tasteful way</h2>
    <p class="description font-weight-400 mt-2">
      TIDE collaborates with top writers, photographers, and creatives from the
      Superyachting world to produce honest, visually striking content that
      speaks directly to a highly engaged, curated audience. Each issue blends
      in-depth industry insights with award-winning storytelling, captivating
      visuals, and timeless inspiration. Our content aligns with the yachting
      calendar, ensuring timely, relevant storytelling that keeps readers
      inspired—and advertisers front of mind.
    </p>
    <a href="#" class="btn-border mt-2">Get Started</a>
  </div>
</section>
