<!DOCTYPE html>
<html>
<head>
<head  profile="http://www.w3.org/2005/10/profile">

    <link rel="icon"
        type="image/png"
        href="/images/favicon-57.png" />

  <!-- Meta Data -->
    <meta charset="utf-8">

    <!-- Meta data for SEO purposes. -->
    <title> {{page.title}} </title>
    <meta name="description" content="{{page.meta-description}}">
    <meta name="keywords" content="{{page.meta-keywords}}">

    <!-- meta data to tell the browser that your device is responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    {% if page.seo.hide-from-google == true %}
    <meta name="robots" content="noindex, nofollow">
    {% else %}
    <meta name="robots" content="index, follow">
    {% endif %}

    <!--  Social media sharing META Tags -->
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.meta-description}}">
    <meta property="og:image" content="{{page.featured-image_path}}">
    <meta property="og:url" content="{{page.url}}">
    <meta name="twitter:card" content="{{page.meta-description}}">
    <meta name="og:site_name" content="<!-- TIDE Magazine -->">

  <!-- end of meta tags -->

<!-- GOOGLE FONTS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Crimson+Text:ital@0;1&family=Overpass:wght@200;300;700&display=swap" rel="stylesheet">
  <!-- Gridlex -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css"></link>

  <!-- Font Awesome Version 5 for Icons  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />

  <!-- Magnific Popup for lightbox galleries   -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />

  <!-- Lightgallery - popup image gallery -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/css/lightgallery-bundle.min.css" integrity="sha512-7xAjdVc23n18sYEAZKa79271IRUS1XzylIyJ8feyXvjrbbr4oId92993EiGTAP63Ob6KplRnmbNmBOg6bpLjYw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- AOS -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<!-- Swiper -->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

  <!-- Lightgallery - image pop-up -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/lightgallery.min.js" defer></script>

  <!-- this is javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.min.js" defer></script>

  <script src="/javascript/scripts.js" defer></script>
  <script src="/javascript/fading-words.js" defer></script>


  <!-- our own custom stylesheet -->
  <link rel="stylesheet" href="/style.css"/>

</head>
<body class="{{page.colour-bg}} {% if page.name == 'about.html' %}aboutus{% endif %}">
<div class="overlay-work"></div>

<header class="grid-spaceBetween justify-between pb-0 header {% if page.name == 'about.html' or page.name == 'events.html' %}transparent{% endif %}">

        <div class="container-full burger-menu relative">
            <div class="menu--block sidebar-menu pt-2">
               <div class="targettedparent">
                {% for section in site.data.header.header_columns %}
                {% if section and section.heading != '' %}
                <a data-value="{{ section.heading | downcase }}" class="link" href="{{ real_url }}"> <span> {{ section.heading }} </span>
                     {% if section.links and section.links.size > 0 %}
                        <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.6875 8.26945V0.730659C0.6875 0.208648 1.31864 -0.0527683 1.68775 0.316343L5.45715 4.08574C5.68596 4.31455 5.68596 4.68556 5.45715 4.91437L1.68775 8.68377C1.31864 9.05291 0.6875 8.79146 0.6875 8.26945Z" fill="black"/>
                        </svg>
                      {% endif %}
                    </a>
                {% endif %}
                {% endfor %}
               </div>


              <div class="subtitle">
              {% for section in site.data.header.legal.links %}
              {% if section.name != blank %}
              <a class="black" href="{{ section.url }}">{{ section.name | upcase }}</a>
              {% endif %}
              {% endfor %}
              </div>
            </div>


           
           <div class="sidebar-content d-flex ">
          {% for section in site.data.header.header_columns %}
          {% if section.links %}
            <div class="menu--block matched-item nav-bar pt-2 {% if forloop.index == 1 %}active{% endif %}" data-value="{{ section.heading | downcase }}">
              {% for link in section.links %}
                {% assign real_url = link.url %}
                {% if link.url contains 'subscribe_link' %}
                  {% assign real_url = site.data.links.subscribe_link %}
                {% elsif link.url contains 'buy_link' %}
                  {% assign real_url = site.data.links.buy_link %}
                {% endif %}
                <a class="black" href="{{ real_url }}">{{ link.name | upcase }}</a>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}


        {% for section in site.data.header.header_columns %}

          {% if section.image_with_text_block %}
            <div class="menu--block matched-item image-with-text-block pt-2 {% if forloop.index == 1 %}active{% endif %}" data-value="{{ section.heading | downcase }}">
              <img src="{{ section.image_with_text_block.image }}" alt="">
              <div class="d-flex align-start justify-between">
                <div class="content-block">
                  <h4 class="font-xs">{{ section.image_with_text_block.label }}</h4>
                  <h2 class="large-line-height" style="font-size: 22px; margin-bottom: 6px;">
                    {{ section.image_with_text_block.title }}
                  </h2>
                  <p class="w-36">{{ section.image_with_text_block.description }}</p>
                </div>
                <a class="large-line-height border-bottom font-xs view__anchor" href="{{ section.image_with_text_block.view_link }}">
                  view
                </a>
              </div>
            </div>
          {% endif %}
        {% endfor %}

        <div class="menu--block rightbar pt-2">
          {% for section in site.data.header.header_columns %}
            {% if section.image_with_text_block %}
              {% assign section_id = section.image_with_text_block.title | slugify %}
              {% if section.related_articles and section.related_articles.size > 0 %}
                <div class="related-article matched-item {% if forloop.index == 1 %}active{% endif %}" data-value="{{ section.heading | downcase }}">
                    <!-- <h3>Related Articles</h3> -->
                    {% for article in section.related_articles %}
                     <a href="{{ article.url }}">
                      <img src="{{ article.image }}" alt="Hidden Gems 1">
                      <span>{{ article.text }}</span>
                      </a>
                    {% endfor %}
                  <a class="view-all btn" href="#">View All</a>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>



           </div>
          <div style="display: none;"> {% include footer-burger.html %} </div> 
        </div>
        

        <div class="grid-spaceBetween justify-between container-full flex-display header-main pb-0 w-full main-block">
          <div class="centered mob-left logo-block">
            <a href="{{ site.data.header.logo_header.url }}">
                <img class="logo_header" src="{{ site.data.header.logo_header.scrolled }}" />
            </a>
        </div>
        <div class="scrolled-nav onscroll-show">
          {% include navigation-bar.html %}
        </div>

        <nav class="z-index-2 burger-menu-block">
            <div class="burger-button">
                <img src="{{ site.data.header.header_main.burger_menu.image }}" alt="{{ site.data.header.header_main.burger_menu.alt }}" height="100%">
            </div>
        </nav>

        
        <div class="block-header-menu">

        <div class="nav block z-index-2">
            <a href="{{site.data.links.subscribe_link}}" class="btn-border ">SUBSCRIBE</a>
        </div>
        </div>
        
      </div>
    {% include navigation-bar.html %}



</header>



{{content}}

<section class="mob-hide no-margin">
  {% comment %}
  {% include slider-logos.html %}
  {% endcomment %}

</section>


<!-- Popup Overlay -->
<!-- <div class="newsletter-popup w-full" id="newsletterPopup">
  <div class="newsletter-popup-content w-full">
    <button class="popup-close" id="closePopup">&times;</button>
    
    <section class="newsletter-section w-full">
      <div class="newsletter-wrapper w-full">
        
        <div class="content-block">
          <div class="content-container">
            <p class="tagline">DIGITAL TIDE</p>
            <h2>Our latest, tailored for you</h2>
            <p class="content">
              Get a curated selection of our latest stories and articles based on your 
              interest categories below. Select a few categories:
            </p>

            
            <div class="categories">
              <button class="category-btn crimson"><img src="./images/sailing-stockholm.png" /> Sailing</button>
              <button class="category-btn crimson active"><img src="./images/sailing-stockholm.png" /> Lifestyle</button>
              <button class="category-btn crimson"><img src="./images/sailing-stockholm.png" /> Design</button>
              <button class="category-btn crimson"><img src="./images/sailing-stockholm.png" /> Travel</button>
              <button class="category-btn crimson"><img src="./images/sailing-stockholm.png" /> Environment</button>
            </div>

            <form class="subscribe-form">
              <input type="email" placeholder="your email" />
              <button class="btn width-fit" type="submit">Subscribe</button>
            </form>
          </div>
        </div>

        <div class="image-block">
          <img src="../images/newslatter.png" alt="Tablet preview" />
        </div>
      </div>
    </section>
  </div>
</div> -->


<div class="newsletter-popup w-full" id="newsletterPopup">
  <div class="newsletter-popup-content w-full">
    <button class="popup-close" id="closePopup">&times;</button>

    <section class="newsletter-section w-full">
      <div class="newsletter-wrapper w-full">
        <!-- Left Content -->
        <div class="content-block">
          <div class="content-container">
            <p class="tagline">{{ site.data.signup.tagline }}</p>
            <h2>{{ site.data.signup.title }}</h2>
            <p class="content">{{ site.data.signup.description }}</p>

            <!-- Categories -->
           <div class="categories">
              {% for category in site.data.signup.categories %}
                <button class="category-btn crimson" onclick="toggleActiveClass(this)">
                  <img src="{{ category.image }}" alt="{{ category.name }}" />
                  {{ category.name }}
                </button>
              {% endfor %}
            </div>

            <!-- Subscribe -->
            <form class="subscribe-form" action="https://formspree.io/f/yourFormID" method="POST">
              <input type="email" name="email" placeholder="{{ site.data.signup.email_placeholder }}" required />
              <button class="btn width-fit" type="submit">{{ site.data.signup.button_text }}</button>
            </form>
          </div>
        </div>

        <!-- Right Image -->
        <div class="image-block">
          <img src="../images/newslatter.png" alt="Tablet preview" />
        </div>
      </div>
    </section>
  </div>
</div>





<footer class="grid-center bg-grey padded0">

<div class="container footer-logo w-full justify-between d-flex centered align-center container-full">
  <img src="{{ site.data.footer.footer_logo.image }}" style="height: {{ site.data.footer.footer_logo.height }}" />
  <!-- <a class="btn subscribe-btn" href="{{ site.data.footer.footer_logo.subscribe_link }}"> {{ site.data.footer.footer_logo.subscribe_text }} </a> -->
  <div class="mx-1" >
    <a href="{{ site.data.footer.footer_logo.join_now_link | default:'/'}}" class="btn subscribe-btn"> {{ site.data.footer.footer_logo.join_now_text }} </a>
    <a class="btn subscribe-btn"> {{ site.data.footer.footer_logo.subscribe_text }} </a>
  </div>
</div>

<div class="container w-full d-flex footer-main">


    {% for column in site.data.footer.footer_columns %}
  <div class="col-2_sm-12 left footer-column">
    <nav class="block">
      <h4 class="text-sm mb-1 nav-heading">{{ column.heading }}</h4>
      {% for link in column.links %}
      <a class="black" href="{{ link.url }}">{{ link.name }}</a>
      {% endfor %}
    </nav>
  </div>
  {% endfor %}


  
   <div class="col-4_sm-12 right footer-column-2">
    <div class="mob-center px-4 social-links">
      {% for social in site.data.footer.social_links %}
      <a class="black block social-link" href="{{ social.url }}" target="_blank">
        <i class="{{ social.icon_class }}"></i>
      </a>
      {% endfor %}
    </div>
  </div>

</div>
</div>
<div class="col-12 hide-2 centered">
  <p class="footer-text mt-1">© <span id="{{ site.data.footer.footer_bottom.year_id }}"></span>, TIDE Magazine.
    Website by <a target="_blank" href="{{ site.data.footer.footer_bottom.klioh_link }}">Klioh Studio</a>
  </p>
</div>
<div class="col-8 hide-3"> </div>


</footer>


<script>
  // ------------ AUTO UPDATE FOOTER YEAR ----------------
 const yearElement = document.getElementById("year");
  const yearMobElement = document.getElementById("year-mob");
  if (yearElement) {
    yearElement.innerHTML = new Date().getFullYear();
  }
  if (yearMobElement) {
    yearMobElement.innerHTML = new Date().getFullYear();
  }


$(document).on('mouseenter', '.targettedparent a.link', function() {

  const val = $(this).attr('data-value');

  $('.sidebar-content .matched-item').removeClass('active');

  $('.sidebar-content .matched-item[data-value="' + val + '"]').addClass('active');


});
// Open popup when .subscribe-btn is clicked
document.querySelectorAll(".subscribe-btn").forEach(btn => {
  btn.addEventListener("click", function(e) {
    e.preventDefault(); // prevent page jump if it's a link
    document.getElementById("newsletterPopup").style.display = "flex";
    var itemss = document.querySelector('.overlay-work');
    if(itemss){
    itemss.classList.add('activee')
    }
  });
});

// Close popup
document.getElementById("closePopup").addEventListener("click", function() {
  document.getElementById("newsletterPopup").style.display = "none";
});

// Optional: close when clicking on background overlay
document.getElementById("newsletterPopup").addEventListener("click", function(e) {
  if (e.target === this) {
    this.style.display = "none";
  }
});


  function toggleActiveClass(button) {
    // Remove the 'active' class from all category buttons
    const buttons = document.querySelectorAll('.category-btn');
    // buttons.forEach(btn => btn.classList.remove('active'));

    // Add the 'active' class to the clicked button
    button.classList.add('active');
  }
</script>

  





</body>
</html>

<style>
  
</style>
